@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 16px;
  line-height: 250%;
}

h1 {
  font-size: 45px;
  z-index:1;
}

h2 {
  z-index:1;
}

h3 {
  margin-block-start: 0;
  margin: 4% 0;
  color: #565656;
  z-index: 1;
}

p {
  margin: 0;
}

a {
  text-decoration:none;
  color:black;
}

/* ---- layout ---- */

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#site-header {
  padding: 30px 20px;
  color: black;
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  z-index: 999;
}

#site-footer {
  color: #c5c9ca;
  font-size: 13px;
  padding: 10px 0;
  background: #111;
  display: flex;
  justify-content: center;
}

section, main header {
  padding: 0 20px;
}

/* ---- components ---- */

button {
  cursor: pointer;
}

button {
  outline: none;
}

/* ---- section ---- */

nav {
  display:flex;
  align-items: center;
}

.logo {
  width:50px;
  animation: 5s infinite rotate;
  margin-right:2%;
  cursor: pointer;
}

.loading {
  width:40px;
  animation: 5s infinite rotate;
  margin-right:50%;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

.logo-text {
  cursor: pointer;
  flex-grow:1;
  margin: 0 5px 0 5px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  margin: 0 10% 0 10%;
}

nav ul li a:hover, nav ul li a:target {
  border-bottom: 2px solid #62D9F7;
}

main header.landing {
  text-align: center;
  position:relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255 , 255, 255, 0.8)), url("./images/christopher-alvarenga-OlxU3VfTI8w-unsplash.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header.landing h3 {
  color: #6d6d6d;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-block-start: 0;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 20s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      border-radius: 0;
      opacity:0.5;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      border-radius: 50%;
      opacity:0;
  }
}

#landing-button {
  padding: 20px 30px;
  font-size: 25px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  text-transform: uppercase;
  background-color: #00c8fb;
  color: white;
  border: none;
  border-radius: 50px;
  margin: 5%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);    
}

#landing-button:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  background-color: black;
}

#landing-button:hover {
  transform: scale(1.15);
  transition: all 0.5s ease;
}

#landing-button:active {
  transform: scale(0.7);
  transition: all 100ms ease;
}


main header.trivial {
  text-align: center;
  position:relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255 , 255, 255, 0.8)), url("./images/christian-lambert-lnsHBbBC__w-unsplash.jpg");
  height: 400px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main header.trivial h3 {
  width:80%;
}

section.difficulty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.difficulty-container button {
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 100%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  transform: scale(1);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
}

section.difficulty-container button:hover {
  transform: scale(1.15);
  transition: all 0.5s ease;
}

section.difficulty-container button:active {
  transform: scale(0.7);
  transition: all 100ms ease;
}

#easy {
  background: #96BF14;
}

#medium {
  background: #F19433;
}

#hard {
  background: #E3447A;
}

section.difficulty-container div {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

img.upside-down {
  transform: rotate(180deg);
}


section.generate-question {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00c8fb;
}


#difficulty-bar-container {
  height: 35px;
  border-radius: 50px;
  margin: 5% 0 7% 0;
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: end;
  position: relative;
  z-index: 1;
  background: #efefef;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2); 
}

#difficulty-bar {
  background: #3838389c;
  width: 15%;
  z-index:1;
}

#difficulty-bar.easy-level {
  width:10%;
  transition: width 2s ease;
}

#difficulty-bar.medium-level {
  width:50%;
  transition: width 2s ease;
}

#difficulty-bar.hard-level {
  width:90%;
  transition: width 2s ease;
}

#question-button {
  padding: 20px 30px;
  font-size: 20px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: #00c8fb;
  color: white;
  border: none;
  border-radius: 50px;
  margin: 5% 0 8%;
  width: auto;
  transform: scale(1);
  transition: all 0.5s ease;
  height: 1%;
}

#question-button:hover {
  transform: scale(1.15);
  transition: all 0.5s ease;
}

#question-button:active {
  transform: scale(0.7);
  transition: all 100ms ease;
}


#question-answer-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255 , 255, 255, 0.8)), url("./images/casino.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5% 10%;
}

#question-answer-container p.introduction em {
  color: #00c8fb;
}

#question-answer {
  background: #ffffffde;
  padding: 30px;
  border-radius: 30px;
  font-size: 18px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);    
}

#true-false-buttons {
  display: flex;
  justify-content: space-evenly;
}

#true-false-buttons button {
  padding: 20px 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  border-radius: 50px;
  margin:2%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);    
}

#true-false-buttons button:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

#true-false-buttons .button-true {
  background-color: #96bf14;
}

#true-false-buttons .button-false {
  background-color: #e3447a;
}

em {
  font-style: normal;
  font-weight: 600;
}

.correct em {
  color: #96bf14
}

.incorrect em {
  color: #e3447a;
}


.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
